/* My CSS for the HTML page. */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #393778;
}
/* CSS for Title */

.gameTitle {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: #393778;
    text-align: center;
    color: #8483b2;
    text-shadow: 2px 2px #0d0c40;
    display: block;
    font-size: 36px;
}
/* CSS for Canvas */

.game {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: #ac8a3f;
    text-align: center;
}
/* CSS for Game Details */

.description {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
    background-color: #334374;
    text-align: center;
    color: #7d89ac;
    text-shadow: 2px 2px #0a173e;
}
/* Generic CSS */

p {
    width: 700px;
    padding-left: 5%;
    padding-right: 5%;
    padding: 10px;
    margin: 0 auto 0 auto;
}
h1 {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    font-size: 24px;
}
canvas {
    padding-left: 5%;
    padding-right: 5%;
    padding: 20px;
}